body{
    background-image: url("/static/images/dark.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 1536px 794px;
}
html{
    cursor: url("/static/cursor/BloodyCursor.cur"), auto;
}

.movie_mother header .title{
    background-color: transparent;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-family: "Copperplate Gothic", fantasy;
    color: white;
}

.photo{
    position: relative;
    float: left;
    left: 3%;
    width: 30%;
    height: 520px;
    background: #ccc;
    padding: 20px;
}

.photo #CJ{
    position: relative;
    border-radius: 15px;
    float: right;
    width: 400px;
    height: 510px;
}

article {
    position: relative;
    float: left;
    top: 0;
    left: 3%;
    padding: 30px;
    width: 60%;
    background-color: #f1f1f1;
    height: 500px;
    text-align: center;
}

article h1{
    font-family: "Barlow", sans-serif;
    font-size: 36px;
    font-weight: bolder;
}

article .plot{
    font-family: "Barlow", sans-serif;
    font-size: 24px;
}

.cast {
    position: absolute;
    top: 45em;
    left: 50%;
    transform: translate(-50%);
    background-color: #777;
    padding: 10px;
    text-align: center;
    height: 200px;
}

.cast h1{
    font-size: 36px;
    font-weight: bolder;
    color: white;
}

.cast .actors .actor .boxy{
    position: relative;
    border: none;
    border-radius: 15px;
    width: 227px;
    height: 282px;
    background: linear-gradient(to bottom, #434141, #222222);
}

.cast .actors{
    position: relative;
    top: 7vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

.cast .actors .actor .name{
    position: relative;
    top: -1vw;
    left:50%;
    transform: translate(-50%);
    font-size: 20px;
    color:white;
    font-family: "Barlow", sans-serif;
}

.cast .actors .actor .boxy .image{
    position: relative;
    top:-1px;
    left: -6px;
    width: 227px;
    height: 282px;
    border-radius: 15px;
}