body{
    background-image: url("/static/images/dark.jpg");
    background-repeat:repeat-x;
    background-attachment: fixed;
    background-size: 1536px 760px;
}

html{
    cursor: url("/static/cursor/BloodyCursor.cur"), auto;

}

.primo_pezzo{
    width: 1000px;
    padding: 20px;
    background-color: transparent;
    margin: 10px auto;
    text-align: center;
}

.primo_pezzo h1.h1first{
    color: white;
    font-family: "Copperplate Gothic Light", fantasy;
    font-size: 30px;
}

.primo_pezzo h1.h1second{
    color: white;
    font-family: "Copperplate Gothic", fantasy;
    font-size: 50px;
    position: relative;
    top:-30px;
}

.secondo_pezzo .area_ricerca .search{
    width: 517px;
    height: 30px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    position: absolute;
    top:23%;
    left:50%;
    transform: translate(-50%, -50%);
    text-indent: 65px;
    cursor: url("/static/cursor/BloodyText.cur"),text;

}

.secondo_pezzo .area_ricerca .bottom{
    position: absolute;
    top: 23%;
    left:35%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 32px;
    background-color: transparent;
    border-radius: 5px;
    z-index: 1;
    cursor: url("/static/cursor/ZombiePointer.cur"),pointer;
}


.search::placeholder {
    position: absolute;
    top: 20%;
    left:0%;
}



.area_ricerca .bottom:hover{
    background: transparent;
}

.area_ricerca .bottom.btm .fa-solid{ /*Immagine logo*/
    position: absolute;
    top: 7px;
    left: 20px;
    color: #000;
    font-size: 20px;
}

.hamburger-icon {
    position: absolute;
    z-index: 100;
    top: 5vh;
    left: 5vw;
    padding-bottom: 2vh;
    cursor: pointer;
}

.hamburger-icon span {
    height: 5px;
    width: 30px;
    background-color: white;
    display: block;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
    cursor: pointer;

}

#open_menu:checked ~ .menu-pane {
    top: 0;
    left: 30px;
    transform: translateX(-30px);
    background-color: #d9d9d9;
    z-index: 99;

}



#open_menu:checked ~ .hamburger-icon span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
    background-color: white;
}

#open_menu:checked ~ .hamburger-icon span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color: white;
}

#open_menu:checked ~ .hamburger-icon span:nth-of-type(1) {
    opacity: 0;
}

div.menu-pane {
    background-color: transparent;
    position: absolute;
    top: 0;
    transform: translateX(-105vw);
    width: 539px;
    height: 760px;
    transition: 0.5s ease-in-out;
}

.menu-pane p {
    color: black;
    font-size: 26px;
    font-family: 'Barlow', sans-serif;
}

.menu-pane nav {
    padding: 10%;
}

.menu-pane .lateral .manual #imgManual{
    position: relative;
    float: left;
    top: 0;
    left: 1vw;
    transform: translateY(5vw);
}

.menu-pane .lateral .manual .writeManual #nomeManual{
    position: relative;
    float: left;
    top: 0;
    left: 2vw;
    transform: translateY(4vw);
}

.menu-pane .lateral .account #imgAccount{
    position: relative;
    float: left;
    top: 0;
    left: -12vw;
    transform: translateY(9vw);
    width: 45px;
    height: 47.41px;
}

.menu-pane .lateral .account .writeAccount #nomeAccount{
    position: relative;
    float: left;
    top: 0;
    left: -11vw;
    transform: translateY(8vw);
}

.menu-pane .lateral .logout .logout_btm .link_logout .logout_push{
    background-color: #6a6a6a;
    position: relative;
    top: 33vw;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    width: 150px;
    height: 40px;
    cursor: url("/static/cursor/ZombiePointer.cur"),pointer;
}

.menu-pane .lateral .logout_btm .link_logout .logout_push:hover{
    box-shadow: 5px 5px 10px grey;
}

/*.menu-links li, a, span {
    transition: 0.5s ease-in-out;
}

.menu-pane ul {
    padding: 10%;
    display: inline-block;
}

.menu-pane li {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    font-size: 1em;
}


.menu-pane li:first-child {
    font-size: 1.3em;
    margin-left: -10px;
}


.menu-links li a {
    color: white;
    text-decoration: none;
}


.menu-links li:hover a {
    color: #FFAB91;
}

.menu-links li:first-child:hover a {
    color: black;
    background-color: #FFAB91;
}

#QC-info {
    background-color: #FFAB91;
    border: 2px solid;
    border-color: #FFAB91;
    display: block;
    opacity: 0;

}

.menu-links li:first-child:hover #QC-info {
    opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
    opacity: 1;
}

#DC-info {
    background-color: #FFAB91;
    border: 2px solid;
    border-color: #FFAB91;
    display: block;
    opacity: 0;
}


.menu-links li:first-child a {
    padding: 5px;
}*/



input.hamburger-checkbox {
    position: absolute;
    z-index: 3;
    top: 5vh;
    left: 5vw;
    width: 3vw;
    opacity: 0;
    height: 6vh;
    cursor: pointer;
}

.terzo_pezzo .navbar{
    width: 45vw;
    position: relative;
    text-align: center;
    top: 50%;
    transform:translateY(-50%);
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #3F0718;
}

.dropbtn {
    background-color: transparent;
    height: 40px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: url("/static/cursor/ZombiePointer.cur"),pointer;
}

.dropbtn p{
  position: relative;
    top:-20px;
}

.dropdown:nth-of-type(1) {
    position: relative;
    float:left;
    display: inline-block;
}
.dropdown:nth-of-type(2) {
    position: relative;
    float:left;
    display: inline-block;
}

.dropdown:nth-of-type(3) {
    position: relative;
    float:right;
    display: inline-block;
}
.dropdown:nth-of-type(4) {
    position: relative;
    float:right;
    display: inline-block;
}


.dropdown:hover .dropbtn {
    background-color: #2a050e;
}