<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/stylesheet/HomepageStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="manifest" href="/static/js/manifest.json">
    <meta name="theme-color" content="white"/>
    <link rel="icon" type="image/x-icon" href="/static/images/skull.png">
    <title>Horror Movieland</title>
</head>
 <body>
  <div class="madre_pezzo"> <!--si divide in tanti pezzi come i puzzle-->

      <div class="primo_pezzo">
          <input type="checkbox" id="open_menu" class="hamburger-checkbox">

          <div class="hamburger-icon">
              <label for="open_menu" id="hamburger-label">
                  <span></span>
                  <span></span>
                  <span></span>
              </label>
          </div>

          <div class="menu-pane">
              <nav>
                  <div class="lateral">
                      <div class="manual">
                          <img src="/static/images/manual-icon%201.png" alt="manual" id="imgManual">
                          <div class="writeManual">
                              <a href="{{url_for('manual')}}" id="nomeManual">Manuale d'uso</a>
                          </div>
                      </div>
                      <div class="account">
                          <img src="/static/images/user.png" alt="manual" id="imgAccount">
                          <div class="writeAccount">
                              <a href="{{url_for('account')}}" id="nomeAccount">Account</a>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>

        {% if current_user.is_authenticated %}
        <h1 class="h1first">Ciao {{ current_user.username }}, benvenuto su </h1>
          <h1 class="h1second"> Horror Movieland!</h1>
          {% else %}
          <h1 class="h1first">Ciao {{session['name']}}, benvenuto su</h1>
          <h1 class="h1second"> Horror Movieland!</h1>
          {% endif %}
    </div>
      <div class="terzo_pezzo">
          <div class="navbar">
              <div class="dropdown1">
                  <button class="dropbtn1"><p>Al Cinema</p></button>
              </div>
              <div class="dropdown2">
                  <button class="dropbtn2"><p>Sottogenere</p></button>
              </div>
              <div class="dropdown3" id="AZ">
                  <button class="dropbtn3"><p>Film A-Z</p></button>
              </div>
              <div class="dropdown4" id="cerca">
                  <button class="dropbtn4"><p>Cerca</p></button>
              </div>
          </div>
     </div>
      <div class="quarto_pezzo">
          <div class="movies">
             <!-- <div class="movie">
                  <button class="box"><img src="/static/images/La%20casa%20di%20Jack.jpg" alt="" class="immagine"></button>
                  <p class="title">La casa di Jack</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/The%20Northman.jpg" class="immagine"></button>
                  <p class="title">The Northman</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/La%20casa%20delle%20bambole.jpg" alt="" class="immagine"></button>
                  <p class="title">La casa delle bambole</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/Midsommar.jpg" alt="" class="immagine"></button>
                  <p class="title">Midsommar</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/Get%20Out.jpg" alt="" class="immagine"></button>
                  <p class="title">Get Out</p>-->
              </div>
          </div>
      </div>
      <div class="quinto_pezzo">
          <div class="menu-pane2" id="lateralio">
              <nav>
                  <div class="lateral">
                      <form action="" id="form" method="get" autocomplete="off">
                         <input id="search-text" type="text" class="search" placeholder="Inserisci il nome del film">
                          <button type="submit" id="search-submit" class="button"><img src="/static/images/lente.png"></button>
                      </form>
                  </div>
                  <div class="returna" id="cerca">
                      <button id="close_lateral">
                          <img src="/static/images/close.png" alt="Close" id="chiudi">
                      </button>
                  </div>
              </nav>
          </div>
      </div>
      <div class="sesto_pezzo">
          <div class="menu3" id="right_lateral">
              <nav class="buttons">
                  <!--Buttons from A to Z-->
              </nav>
              <div class="back" id="AZ">
                  <button id="come_back">
                      <img src="/static/images/close.png" alt="X" id="X_Close">
                  </button>
              </div>
          </div>
      </div>
      <div class="settimo_pezzo">
          <div class="menu4" id="details_lateral">
              <div class="return_back" id="rback">
                  <a id="rb">
                      <img src="/static/images/return.png" alt="R" id="R_Close">
                  </a>
              </div>
              <nav>
                  <div class="movie_mother">
                      <header id="heady">
                          <!--title movie-->
                      </header>
                      <section id="section">

                      </section>
                  </div>
              </nav>
          </div>
      </div>
  </div>
  <script src="/static/js/SearchMovies.js"></script>
  <script src="/static/js/ShowMovies.js"></script>
  <script src="/static/js/AlfabeticButtons.js"></script>
 </body>
</html>