<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/stylesheet/Style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/templates/CercaFilm.js"></script>
    <title>Horror Movieland</title>
</head>
 <body>
  <div class="madre_pezzo"> <!--si divide in tanti pezzi come i puzzle-->

      <div class="primo_pezzo">
          <input type="checkbox" id="open_menu" class="hamburger-checkbox">

          <div class="hamburger-icon">
              <label for="open_menu" id="hamburger-label">
                  <span></span>
                  <span></span>
                  <span></span>
              </label>
          </div>

          <div class="menu-pane">
              <nav>
                  <div class="lateral">
                      <div class="manual">
                          <img src="/static/images/manual-icon%201.png" alt="manual" id="imgManual">
                          <div class="writeManual">
                              <a href="{{url_for('manual')}}" id="nomeManual">Manuale d'uso</a>
                          </div>
                      </div>
                      <div class="account">
                          <img src="/static/images/user.png" alt="manual" id="imgAccount">
                          <div class="writeAccount">
                              <a href="{{url_for('account')}}" id="nomeAccount">Account</a>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>

        {% if current_user.is_authenticated %}
        <h1 class="h1first">Ciao {{ current_user.username }}, benvenuto su </h1>
          <h1 class="h1second"> Horror Movieland!</h1>
          {% else %}
          <h1 class="h1first">Ciao {{ session['name'] }}, benvenuto su </h1>
          <h1 class="h1second"> Horror Movieland!</h1>
          {% endif %}
    </div>
      <div class="terzo_pezzo">
          <div class="navbar">
              <div class="dropdown1">
                  <button class="dropbtn1"><p>Al Cinema</p></button>
              </div>
              <div class="dropdown2">
                  <button class="dropbtn2"><p>Sottogenere</p></button>
              </div>
              <div class="dropdown3">
                  <button class="dropbtn3"><p>Film A-Z</p></button>
              </div>
              <div class="dropdown4">
                  <button class="dropbtn4"><p>Cerca</p></button>
              </div>
          </div>
     </div>
      <div class="quarto_pezzo">
          <div class="movies">
              <!--<div class="movie">
                  <button class="box"><img src="/static/images/La%20casa%20di%20Jack.jpg" alt="" class="immagine"></button>
                  <p class="title">La casa di Jack</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/The%20Northman.jpg" class="immagine"></button>
                  <p class="title">The Northman</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/La%20casa%20delle%20bambole.jpg" alt="" class="immagine"></button>
                  <p class="title">La casa delle bambole</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/Midsommar.jpg" alt="" class="immagine"></button>
                  <p class="title">Midsommar</p>
              </div>
              <div class="movie">
                  <button class="box"><img src="/static/images/Get%20Out.jpg" alt="" class="immagine"></button>
                  <p class="title">Get Out</p>
              </div>-->
          </div>
      </div>
      <div class="quinto_pezzo">
          <input type="checkbox" id="open_menu2" class="hamburger-checkbox2">

          <div class="hamburger-icon2">
              <label for="open_menu2" id="hamburger-label2">
                  <span class="spanio"></span>
                  <span class="spanio"></span>
                  <span class="spanio"></span>
              </label>
          </div>

          <div class="menu-pane2">
              <nav>
                  <div class="lateral">
                      <form action="" id="form" method="get" autocomplete="off">
                         <input type="text" class="search" placeholder="Inserisci il nome del film">
                          <button type="submit" class="button"><img src="/static/images/lente.png"></button>
                      </form>
                  </div>
              </nav>
          </div>
      </div>
  </div>

 </body>
</html>