<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="/static/stylesheet/ManualStyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
  <link rel="manifest" href="/static/js/manifest.json">
  <meta name="theme-color" content="white"/>
  <title>User Manual</title>
</head>
<body>

   <div class="mother_place">
     <div>
       <p>Si tratta di una web app totalmente gratuita contenente solo film horror e simili dai titoli sconosciuti,
         divisi per categoria (genere) e per regista. I nuovi utenti registrati verranno sottoposti ad un test e
         in base alle loro preferenze verrà poi simulato un possibile film che potrebbe piacere all'utente,
         in modo da garantire una migliore esperienza cinematografica. Infine agli utenti verrà data anche la possibilità
         di segnare i film preferiti in una sezione chiamata Wish List, in modo da tenere traccia dell'esperienza cinematografica.</p>
     </div>
     <div>
       <img src="/static/images/img%201.png" alt="Homepage">
     </div>
     <div>
       <p>Alla vostra sinistra è presente un menu laterale dove cliccandolo, spunteranno due voci: Manuale d'uso e Account, cui quest'ultima porterà alla pagina dove sono
       presenti le informazioni del profilo account dell'utente.</p>
     </div>
     <div>
       <img src="/static/images/Account%20Profile.png" alt="Account">
     </div>
     <div>
       <p>Ovviamente è presente anche il pulsante Logout nel caso si vuole disconnettere e accedere con un altro account.
         Tuttavia, nella homepage sono presenti, come ben vedete, dei pulsanti, dove ognuno di essi ha una propria funzionalità:</p>
       <p>Il pulsante Al Cinema, dove cliccandolo uscirà una pagina in cui saranno inclusi i film che usciranno prossimamente sul nostro sito.</p>
     </div>
     <div>
       <img src="/static/images/img_2.png" alt="Riquadro2">
     </div>
     <div>
       <p>Il pulsante Sottogenere, di tipo dropdown, ci permette di filtrare i film per le sottocategorie dell'horror
         (es. anime horror, film horror-drammatici, film racappriccianti ecc...) e una volta regolato il filtro, sarà
         incluso quel sottogenere di film prestabilito.</p>
     </div>
     <div>
       <img src="/static/images/img_3.png" alt="Riquadro3">
     </div>
     <div>
       <p>Il pulsante Wish List, dove verranno inseriti i film che verranno selezionati come preferiti.</p>
     </div>
     <div>
       <img src="/static/images/img_4.png" alt="Riquadro4">
     </div>
     <div>
       <p>Il pulsante Cerca che, tramite una barra di ricerca ci permette di cercare il film che vogliamo vedere.</p>
     </div>
     <div>
       <img src="/static/images/img_5.png" alt="Riquadro5">
       <img src="/static/images/Searchbar.png" alt="Riquadro6">
     </div>
   </div>
   <div class="return">
     <a href="{{url_for('homepage')}}"><img src="/static/images/return.png" alt="Return" id="image"></a>
   </div>
</body>
</html>