<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="/static/stylesheet/ManualStyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
  <title>User Manual</title>
</head>
<body>
   <div class="mother_place">
     <div>
       <p>Si tratta di una web app totalmente gratuita contenente solo film horror e simili dai titoli sconosciuti,
         divisi per categoria (genere) e per regista. I nuovi utenti registrati verranno sottoposti ad un test e
         in base alle loro preferenze verrà poi simulato un possibile film che potrebbe piacere all'utente,
         in modo da garantire una migliore esperienza cinematografica. Infine agli utenti verrà data anche la possibilità
         di segnare i film preferiti in una sezione chiamata Wish List, in modo da tenere traccia dell'esperienza cinematografica.</p>
     </div>
     <div>
       <p></p>

     </div>
   </div>
</body>
</html>