<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="/static/stylesheet/ManualStyle.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
  <title>User Manual</title>
</head>
<body>

   <div class="mother_place">
     <div>
       <p>Si tratta di una web app totalmente gratuita contenente solo film horror e simili dai titoli sconosciuti,
         divisi per categoria (genere) e per regista. I nuovi utenti registrati verranno sottoposti ad un test e
         in base alle loro preferenze verrà poi simulato un possibile film che potrebbe piacere all'utente,
         in modo da garantire una migliore esperienza cinematografica. Infine agli utenti verrà data anche la possibilità
         di segnare i film preferiti in una sezione chiamata Wish List, in modo da tenere traccia dell'esperienza cinematografica.</p>
     </div>
     <div>
       <img src="/static/images/Homepage.png" alt="Homepage">
     </div>
     <div>
       <p>Alla vostra sinistra è presente un menu laterale dove cliccandolo, spunteranno due voci: Manuale d'uso e Account, cui quest'ultima porterà alla pagina dove sono
       presenti le informazioni del profilo account dell'utente</p>
     </div>
     <div>
       <img src="/static/images/Account%20Profile.png" alt="Account">
     </div>
     <div>
       <p>Ovviamente è presente anche il pulsante Logout nel caso si vuole disconnettere e accedere con un altro account.
         Tuttavia, nella homepage sono presenti, come ben vedete, dei pulsanti, dove ognuno di essi ha una propria funzionalità</p>
       <p>Il pulsante Al Cinema, dove cliccandolo, si presenterà una pagina dove verranno inclusi dei film che usciranno prossimamente al cinema</p>
     </div>
     <div>
       <img src="/static/images/Homepage2.png" alt="Riquadro2">
     </div>
     <div>
       <p>Il pulsante Sottogenere, cui è un pulsante di tipo dropdown, dove si va a regolare le sottocategorie dei film horror
         (per es. anime horror, film horror-drammatici, film racappriccianti ecc...) e una volta regolati i filtri, saranno
         inclusi quel sottogenere di film prestabilito</p>
     </div>
     <div>
       <img src="/static/images/Homepage3.png" alt="Riquadro3">
     </div>
     <div>
       <p>Il pulsante Cerca, dove cliccandolo, uscirà una barra di ricerca dove digiterai il nome del film</p>
     </div>
     <div>
       <img src="/static/images/Homepage4.png" alt="Riquadro4">
       <img src="/static/images/Searchbar.png" alt="Searchbar">
     </div>
     <div>
       <p>Il pulsante Film A-Z, dove cliccandolo, usciranno una serie di pulsanti, dove ognuno di essi, ha una propria lettera
       e cliccando questi pulsanti, verrano selezionati i film che hanno quell'iniziale (per ese. N --> The Northman)</p>
     </div>
     <div>
       <img src="/static/images/Homepage5.png" alt="Riquadro5">
     </div>
   </div>
   <div class="return">
     <a href="{{url_for('homepage')}}"><img src="/static/images/return.png" alt="Return" id="image"></a>
   </div>
</body>
</html>