<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/stylesheet/MovieStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="manifest" href="/static/js/manifest.json">
    <meta name="theme-color" content="white"/>
    <title>La casa di Jack</title>
</head>
    <body>
       <div class="movie_mother">
           <header>
                <h2 class="title">La Casa di Jack</h2>
           </header>

           <section>
               <nav class="photo">
                   <img src="/static/images/lacasadiJack.jpg" alt="La Casa di Jack" id="CJ">
               </nav>

               <article>
                   <h1>Trama</h1>
                   <p class="plot">La Casa di Jack, il film diretto da Lars von Trier, ambientato nell’America degli anni '70
                       segue l'astuto Jack (Matt Dillon) attraverso cinque incidenti, e cioè gli omicidi che definiscono il suo
                       sviluppo come serial killer.
                       Viviamo la storia dal punto di vista di Jack che vede ogni omicidio come un'opera d'arte in sé,
                       anche se la sua disfunzione gli dà problemi nel mondo esterno. Nonostante l'inevitabile intervento
                       della polizia (cosa che provoca pressioni su Jack) si stia avvicinando, contrariamente a ogni logica,
                       questo lo spinge a rischiare sempre di più.
                       Lungo il cammino scopriamo le sue condizioni personali, i suoi problemi e i suoi pensieri attraverso
                       conversazioni ricorrenti con lo sconosciuto Virgilio, una miscela grottesca di sofismi mescolata
                       con un'auto-pietà quasi infantile e con spiegazioni approfondite di azioni difficili e pericolose.</p>
               </article>
           </section>

           <footer class="cast">
               <h1>Cast</h1>
               <div class="actors">
                   <button class="precedente" onclick="precedente()"></button>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/The%20Northman.jpg" alt="" class="image"></div>
                       <p class="name">La casa di Jack</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/Midsommar.jpg" alt="" class="image"></div>
                       <p class="name">Nome 1</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 2</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 3</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 4</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">La casa di Jack</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 1</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 2</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 3</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 4</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">La casa di Jack</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 1</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 2</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 3</p>
                   </div>
                   <div class="actor">
                       <div class="boxy"><img src="/static/images/" alt="" class="image"></div>
                       <p class="name">Nome 4</p>
                   </div>
                   <button class="successivo" onclick="successivo()"></button>
               </div>
           </footer>
       </div>
    <script src="/static/js/Carousel.js"></script>
       <script src="/static/js/main.js"></script>
    </body>
</html>