<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/45b1634a10.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/stylesheet/WishListStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="manifest" href="/static/js/manifest.json">
    <meta name="theme-color" content="white"/>
    <link rel="icon" type="image/x-icon" href="/static/images/skull.png">
    <title>Horror Movieland</title>
</head>
<body>
<div class="mother_piece"> <!--si divide in tanti pezzi come i puzzle-->

    <header class="first_piece">
        {% if current_user.is_authenticated %}
        <h1 class="h1">Pagina dedicata alla Wish List di {{ current_user.username }}</h1>
        {% else %}
        <h1 class="h1">Pagina dedicata alla Wish List di {{session['name']}}</h1>
        {% endif %}
    </header>
    <div class="second_piece">
        <div class="fav_movies">
            <!-- <div class="movie">
                 <button class="box"><img src="/static/images/La%20casa%20di%20Jack.jpg" alt="" class="immagine"></button>
                 <p class="title">La casa di Jack</p>
             </div>
             <div class="movie">
                 <button class="box"><img src="/static/images/The%20Northman.jpg" class="immagine"></button>
                 <p class="title">The Northman</p>
             </div>
             <div class="movie">
                 <button class="box"><img src="/static/images/La%20casa%20delle%20bambole.jpg" alt="" class="immagine"></button>
                 <p class="title">La casa delle bambole</p>
             </div>
             <div class="movie">
                 <button class="box"><img src="/static/images/Midsommar.jpg" alt="" class="immagine"></button>
                 <p class="title">Midsommar</p>
             </div>
             <div class="movie">
                 <button class="box"><img src="/static/images/Get%20Out.jpg" alt="" class="immagine"></button>
                 <p class="title">Get Out</p>-->
        </div>
    </div>
</div>
<script src="/static/js/SearchMovies.js"></script>
<script src="/static/js/ShowMovies.js"></script>
</body>
</html>